#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

# Skip the tests, we can't login into the local sshd in pbuilder
override_dh_auto_test:
